<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BRIFL: Browser-Internet-Flask SOLUZION Client</title>
    <!-- (C) S. Tanimoto, 2017. Dept. of Computer Sci. & Engr., University of Washington. -->
    <style type="text/css">
      body {
      font-family: sans-serif; background: #eee;
      }
      .OK_OPS {
      font-weight: bold; color: #007700;
      }
      </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      var lastTarget = 'None'; // Used to restyle applicable operator text after mouseOut.
      function show_updates(data) { // Function to populate all the problem and state-specific fields.
          if (data.message) { $("#message").html(data.message); $("#message").css("color","brown");}
          if (data.current_state) { $("#current_state").text(data.current_state); }
          if (data.stats) { $("#stats").text(data.stats); }
          if (data.state_image) { $("#state_image").attr("src", data.state_image); }
          if (data.state_svg) { $("#state_svg").replaceWith(data.state_svg); }
          if (data.problem_title) { $("#problem_title").html(data.problem_title); }
          if (data.problem_desc) { $("#problem_desc").html(data.problem_desc); }
          if (data.problem_desc) { $("#problem_author").html(data.problem_author); }
          if (data.problem_creation_date) { $("#problem_creation_date").html(data.problem_creation_date); }
          if (data.available_ops) { // Make available ops into clickable commands.
            $("#ops_div").html(data.available_ops);
            $('.OK_OPS').bind('click',
               function() {
                 //alert('clicked');
                 var txt = $(event.target).text();
                 var cmd = txt.substr(0, txt.indexOf(':'));
                 send_command(cmd);
               }
            )
            $('.OK_OPS').mouseover(function(){mouseOver()});
            $('.OK_OPS').mouseout(function(){mouseOut()});
            }
          }
      function send_command(c) {  // Used as soon as the page is loaded, to get the problem and initial state info.
        $.getJSON('/_command', {
            command: c},
        show_updates)
      }
      $(function() {
      $('a#send_command').bind('click', function() { 
      $.getJSON('/_command', {             // Used during interaction.
        command: $('input[name="command"]').val()
      },
      show_updates);
      return false;
      });
      });
      $(document).ready(function() {
        send_command('start') } )
      function mouseOver() {
        lastTarget = $(event.target);
        $(event.target).css('color' , "red");
      }
      function mouseOut() {
        //$(event.target).css('color' , "green");
        lastTarget.css('color' , "green");
      }
    </script>
  </head>
  <body>
    <center>
      <h1>Solve a Problem Via</h1>
      <h2>a Browser-to-Flask SOLUZION Client<h2>
	  <h3 id="problem_title">(Problem Title and Version go here)</h3>
				  
	<div class="container">
	  Current state as text (sometimes useful during debugging): 
	  <p id = "current_state">
	    Current state goes here.
	  (filled in as soon as you submit the start command)
	  </p>
	  <p id = "stats">
            Session statistics go here.
	  (filled in as soon as you submit the start command)
	  </p>
	  <p>
	    <svg id="state_svg" width="500" height="200">
	      <defs /><rect fill="rgb(255,255,0)" height="100px" stroke="black" stroke-width="1" width="200px" x="0" y="0" /><text x="210" y="110">Hello World</text></svg>

	  </p>
	  <div>Applicable operators:</div>
      <div id="ops_div">
Currently applicable operators.
	  (filled in as soon as you submit the start command)
</div>
      <div>
	<p id="message" class="from_server">
	  Welcome!
	</p>
	<p id="general_commands">
	  <a href="javascript:void(send_command('B'))">Back</a>
	  <a href="javascript:void(send_command('H'))">Help</a>
	  <a href="javascript:void(send_command('start'))">Quit</a>
	  </p>
	<p>
</form>
</div>
<hr/>
<p><b>Problem formulation by: </b><span id="problem_author">Author of the problem formulation</span>
  <b>on: </b><span id="problem_creation_date">Date of problem formulation</span><br>
  <b>Soluzion client/server infrastructure by: </b><span id="soluzion_author">S. Tanimoto</span>
</center>
  <div id="problem_desc">Problem description, such as instructions or background go here.</div>
</div>
</body>
</html>
